.image-8-icon11,
.image-9-icon10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 1024px;
  object-fit: cover;
}
.image-9-icon10 {
  top: 21px;
  left: 286px;
  width: 1258px;
  height: 1317px;
}
.group-child12 {
  top: 0;
  background-color: var(--color-whitesmoke);
  height: 69px;
}
.div51,
.group-child12,
.group-wrapper7,
.inner10 {
  position: absolute;
  left: 0;
  width: 120px;
}
.div51 {
  top: 7px;
  font-weight: 600;
  display: inline-block;
  height: 47px;
}
.group-wrapper7,
.inner10 {
  top: 0;
  height: 69px;
}
.inner10 {
  top: 32px;
  left: 1278px;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
}
.child18 {
  position: absolute;
  top: 792px;
  left: 0;
  background-color: var(--color-gray);
  width: 1440px;
  height: 232px;
  cursor: pointer;
}
.b12,
.child19 {
  position: absolute;
  top: 814px;
  left: 29px;
}
.child19 {
  top: 808px;
  left: 76px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.div52,
.div53 {
  position: absolute;
  top: 884px;
  left: 29px;
  font-weight: 500;
}
.div53 {
  top: 965px;
  left: 1338px;
}
.div50 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
