.image-8-icon5,
.image-9-icon4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 1024px;
  object-fit: cover;
}
.image-9-icon4 {
  top: 21px;
  left: 286px;
  width: 1258px;
  height: 1317px;
}
.div29,
.group-child8 {
  position: absolute;
  left: 0;
  width: 120px;
}
.group-child8 {
  top: 0;
  background-color: var(--color-whitesmoke);
  height: 69px;
}
.div29 {
  top: 7px;
  font-weight: 600;
  display: inline-block;
  height: 47px;
}
.group-wrapper3 {
  top: 0;
  left: 0;
  width: 120px;
  height: 69px;
}
.child6,
.group-wrapper3,
.inner6 {
  position: absolute;
}
.inner6 {
  top: 32px;
  left: 1278px;
  width: 120px;
  height: 69px;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
}
.child6 {
  top: 792px;
  left: 0;
  background-color: var(--color-gray);
  width: 1440px;
  height: 232px;
  cursor: pointer;
}
.b6,
.child7 {
  position: absolute;
  top: 814px;
  left: 29px;
}
.child7 {
  top: 808px;
  left: 76px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.blank-line {
  margin: 0;
}
.div30,
.div31 {
  position: absolute;
  top: 884px;
  left: 29px;
  font-weight: 500;
}
.div31 {
  top: 965px;
  left: 1338px;
}
.div28 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
