.image-8-icon2,
.image-9-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 1024px;
  object-fit: cover;
}
.image-9-icon1 {
  top: 21px;
  left: 286px;
  width: 1258px;
  height: 1317px;
}
.child2 {
  position: absolute;
  top: 792px;
  left: 0;
  background-color: var(--color-gray);
  width: 1440px;
  height: 232px;
  cursor: pointer;
}
.b3,
.div17,
.div18 {
  position: absolute;
  top: 814px;
  left: 29px;
}
.div17,
.div18 {
  top: 884px;
  font-weight: 500;
}
.div18 {
  top: 965px;
  left: 1338px;
}
.group-child5 {
  top: 0;
  background-color: var(--color-whitesmoke);
  height: 69px;
}
.div19,
.group-child5,
.group-frame,
.inner3 {
  position: absolute;
  left: 0;
  width: 120px;
}
.div19 {
  top: 7px;
  font-weight: 600;
  display: inline-block;
  height: 47px;
}
.group-frame,
.inner3 {
  top: 0;
  height: 69px;
}
.inner3 {
  top: 32px;
  left: 1278px;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
}
.div16 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
