body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-mouse-memoirs: "Mouse Memoirs";

  /* font sizes */
  --font-size-45xl: 64px;
  --font-size-77xl: 96px;
  --font-size-29xl: 48px;
  --font-size-36xl: 55px;
  --font-size-21xl: 40px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-lightcoral: #ed9191;
  --color-whitesmoke: #f8f0f0;
  --color-gray: rgba(0, 0, 0, 0.51);
}
